In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy.random as rd

from faker import Faker
from faker.providers.company.nl_NL import Provider

In [2]:
steden = pd.read_csv("steden.csv")

In [3]:
job_names = [
    "BI Specialist",
    "Data Engineer",
    "Machine Learning Engineer",
    "Data Scientist"
]

In [4]:
Faker.seed(42)
rd.seed(42)

In [5]:
f = Faker()
p = Provider(f)

In [6]:
jobs = pd.DataFrame()

In [7]:
n_jobs = 200

In [8]:
jobs["company_name"] = [p.large_company() for _ in range(n_jobs)]

In [9]:
jobs["n_positions"] = np.ceil(rd.lognormal(mean=1, sigma=0.5, size=n_jobs))

In [10]:
jobs["location"] = rd.choice(steden.naam, n_jobs, p=steden.weight)

In [11]:
jobs.head()

         company_name  n_positions   location
0         Harvey Nash          4.0    Haarlem
1           Alliander          3.0     Almere
2  Royal HaskoningDHV          4.0    Tilburg
3               Vopak          6.0     Almere
4              Abbott          3.0  Amsterdam

In [12]:
def distribution(row):
    n = round(row["n_positions"])
    project_jobs = rd.choice(job_names, n)
    pj = list(project_jobs)
    row["n_de"] = pj.count("Data Engineer")
    row["n_bi"] = pj.count("BI Specialist")
    row["n_mle"] = pj.count("Machine Learning Engineer")
    row["n_ds"] = pj.count("Data Scientist")
    return row

In [13]:
jobs = jobs.apply(distribution, axis=1)

In [14]:
jobs["start_day"] = rd.randint(0, 360, n_jobs)

In [15]:
jobs["end_day"] = jobs.start_day + (365 - jobs.start_day) / 365 * rd.randint(0, 360, n_jobs) + 5
jobs.end_day = jobs.end_day.astype(int)

In [16]:
jobs.head()

,company_name,n_positions,location,n_de,n_bi,n_mle,n_ds,start_day,end_day
0,Harvey Nash,4.0,Haarlem,1,1,1,1,54,319
1,Alliander,3.0,Almere,0,2,0,1,148,260
2,Royal HaskoningDHV,4.0,Tilburg,2,2,0,0,308,358
3,Vopak,6.0,Almere,1,3,0,2,136,317
4,Abbott,3.0,Amsterdam,0,1,1,1,201,218

In [17]:
jobs.to_csv("jobs_gen.csv", index=False)