In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy.random as rd

from faker import Faker
from faker.providers.person.nl_NL import Provider

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# Lijst met steden en de kans dat een werknemer daar woont
steden = pd.read_csv("steden.csv")

In [ ]:
# Aantallen werknemers, om gewichten te geven aan de rollen binnen HI/FF
jobs = {
    "BI Specialist": 51,
    "Data Engineer": 57,
    "Machine Learning Engineer": 10,
    "Data Scientist": 10
}

# De "proficiency" matrix, wordt nu nog niet gebruikt
# maar kan later in gebruik worden genomen.
match_matrix = np.array(
    [
        [1., 0.9, 0.8, 0.6],
        [0.9, 1., 0.9, 0.5],
        [0.8, 0.9, 1., 0.5],
        [0.6, 0.5, 0.5, 1.]
    ]
)

match_matrix = np.eye(4)

In [ ]:
Faker.seed(42)
rd.seed(42)

In [ ]:
# Generatoren van Nederlandse namen
f = Faker()
p = Provider(f)

In [ ]:
emp = pd.DataFrame()

In [ ]:
n_employees = 150

In [ ]:
emp["name"] = [f"{p.first_name()} {p.last_name()}" for _ in range(n_employees)]

In [ ]:
emp["job_title"] = rd.choice(
    list(jobs.keys()), 
    n_employees,
    p=np.array(
        list(jobs.values())
    ) / sum(
        list(jobs.values())
    )
)

In [ ]:
emp["residence"] = rd.choice(steden.naam, n_employees, p=steden.weight)

In [ ]:
emp["seniority"] = rd.choice(["Junior", "Medior", "Senior"], len(emp.index), p=[0.3, 0.4, 0.3])

In [ ]:
emp["part_time"] = rd.choice([0.8, 0.9, 1.], len(emp.index), p=[0.1, 0.2, 0.7])

In [ ]:
emp.head()

                         name       job_title   residence seniority  part_time
0              Floortje Heere   BI Specialist   Den Bosch    Junior        1.0
1           Ayden Schellekens  Data Scientist   Amsterdam    Medior        1.0
2                    Liam Nek   Data Engineer   Amsterdam    Medior        1.0
3  Imran Goyaerts van Waderle   Data Engineer    Den Haag    Medior        1.0
4       Ivy van der Spaendonc   BI Specialist  Maastricht    Senior        0.9

In [ ]:
emp.to_csv("employees_gen.csv", index=False)